* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header {
    font-size: 16px;
    font-weight: 600;
}

#logobar {
    background-color: black;
    height: 30px;
    width: 100%;
    
}

#logobar img {
    width: 50px;
}

/* da sistemare ultimi dettagli */
#navigatore {
    height: 70px;
    background-color: white;
}

.piccolo {
    width: 10px;
}

.med {
    width: 20px;
}

/* jumbotron */

#jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-size:cover;
    background-position: center;
    height: 600px;
    margin-top: 100px;
    padding-bottom: 50px;
    font-size: 18px;
}

.box-jumbo {
    max-width: 400px;
    color: white;
}

.box-jumbo img {
    width: 200px;
}

.botn-red {
    text-decoration: none;
    color: white;
    background-color: red;
    border-radius: 20px;
    padding: 5px;
    
    
}

/* ps5 */

/* slider */

#slider {
    margin-top: 50px;
}

#slider img {
    width: 100%;
    border-radius: 20px;
}

.box-slide {
    width: 100%;
    border-radius: 20px;
    padding: 5px;
}

/* titolops5 */

#titolo-ps5 {
    margin: 100px 0;
}

.blue {
    color: blue;
}

/* show-ps5 */

.box-show {
    width: 100%;
    height: 100%;
    
}

.box-show img{
    width: 100%;
}

.botn-blue {
    color: white;
    background-color: blue;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px;
    
}
/* accessori */

.box-access {
    width: 100%;
}

.box-access img {
    width: 100%;
}

.box-img {
    padding: 15% 15% 0;
}

@media screen and (max-width:720px) {
    #accessori h6{
        display: none;
    }
}

/* immagine gioco coop */

#gioco-coop {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size:cover;
    background-position: center;
    height: 600px;
    margin-top: 100px;
    padding-bottom: 50px;
    font-size: 18px;
}


/* sezione novità */
#new {
    background-color: #1f1f1f;
    color: white;
    
}

.box-new {
    width: 100%;
    
}

.box-new img {
    width: 100%;
    border-radius: 20px;
}

/* sezione ps4 */

.box-ps4 {
    background-color: green;
    width: 100%;
    height: 300px;
}

/* playstore */

#play-store {
    background-color: #bebcbb;
    height: 300px;
}

/* sconti */

.box-sconti {
    height: 100px;
    width: 100%;
    background-color: greenyellow;
}

/* playnow */

#play-now {
    background-color: #161c3b;
    height: 300px;
}

/* social */
/* da aggiungere max width */
.box-social {
    height: 100px;
    width: 100%;
    background-color: rebeccapurple;
}

/* footer */

footer {
    background-color: #00439c;
}

.box-foot {
    width: 100%;
    height: 150px;
    background-color: yellow;
}